<p id="notice"><%= notice %></p>
<div>
<p>
  <strong>entry name:</strong>
  <%= @entry.business_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @entry.phone %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>



<p>
  <strong>Last name:</strong>
  <%= @entry.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @entry.first_name %>
</p>

<p>
  <strong>Business name:</strong>
  <%= @entry.business_name %>
</p>
<p>
<%= image_tag(@entry.image.url, alt: 'Image') if @entry.image? %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @entry.phone %>
</p>
<p>
<strong>Email:</strong><%= @entry.email %></p>
<p><strong>Web Address:</strong><%= @entry.web_address %></p>
<p><strong>Mailing Address line 1:</strong><%= @entry.mailing_address_1 %></p>
<p><strong>Mailing Address line 2:</strong><%= @entry.mailing_address_2 %></p>
<p><strong>Country:</strong><%= @entry.country %></p>
<p><strong>City:</strong><%= @entry.city %></p>
<p><strong>State:</strong><%= @entry.state %></p>
<p><strong>Zip:</strong><%= @entry.zip %></p>
<p><strong>Marketing Copy:</strong><%= @entry.marketing_copy %></p>
</div>
<div>
<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
</div>