<p id="notice"><%= notice %></p>

<p>
  <strong>Business name:</strong>
  <%= @entry.business_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @entry.phone %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
