<div class="header">
    <div class="top-header">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-faded">
          <a class="navbar-brand" href="/">Home</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <% if current_user.nil? #is user logged in%> 
             
            <% elsif can? :manage, User #is user a superuser%>
            <%= link_to rails_admin.dashboard_path, class: 'nav-item nav-link login-button' do %>Dashboard<% end %>
            <%= link_to entries_path, class: 'nav-item nav-link login-button' do %>Go to App<% end %>
               
            <% else #is user a plain user %>
            <%   %>
                <%= link_to entries_path, class: 'nav-item nav-link login-button' do %>Go to App<% end %>
            <% end %>
              
              
            </div>
          </div>
        
                <p class="navbar-text pull-right">
            <% if user_signed_in? #draws the right side of the nav bar%>
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            
            <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            <% end %>
            </p>
            </nav>
            </div>
            </div>
            </div>